/* styles.css */
.tb-block-button {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.tb-block-button:hover {
  background-color: var(--barcelona-navigation-item-hover-background);
}

.tb-icon {
  width: 15px;
  height: 15px;
}
